h1{
    color: red;
    text-align: center;
}
h2{
    font-style: italic;
    text-align: center;
    color: teal;
}
li{
    font-style: italic;
    font-weight:700;
    color: purple;

}
body{
    background-color: lightcyan;
}
p{
    font-style: inherit;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a:hover{
    color: blue;
    background-color: hotpink;
    text-decoration: none;
}